{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block stylesheets %}
    <style>
        h1{
            font-family: 'Pacifico', cursive;
            text-align: center;
        }
        p{
            font-family: 'Bree Serif', serif;
            font-size: 24px;
        }
        .addProd{
            background-color: rgba(0,0,0,0.8);
            border-radius: 10%;
            padding: 2%;
        }
        label{
            font-size: 24px;
            font-family: 'KoHo', cursive;
        }
        .lblAdd{
            color: white;
        }
        .selectImage{
            color: white;
        }
    </style>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Les commandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gérer les produits</a>
                </li>
            </ul>
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Déconnexion</button>
        </div>
    </nav>
    <br>
    <div class="container-fluid">
        <h1>Entrez vos informations de livraison</h1>
        <div class="row justify-content-center">
            <div class='col-3 addProd'>
                {{ form_start(form) }}
                <div class="form-group">
                    <label class="lblAdd" for="">Designation :</label>
                    {{ form_widget(form.designation)}}
                </div>
                <div class="form-group">
                    <label class="lblAdd" for="">Prix :</label>
                    {{ form_widget(form.price)}}
                </div>
                <div class="form-group">
                    <label class="lblAdd" for="selectCategory">Catégorie :</label>
                    <select class="form-control" id="selectCategory" name="selectCategory">
                        <option>Plante</option>
                        <option>Fleur</option>
                        <option>Composition</option>
                    </select>
                </div>
                <div class="form-group selectImage">
                    <label class="lblAdd" for="">Photo :</label>
                    {{ form_widget(form.picture)}}
                </div>
                {{ form_widget(form.save)}}
                {{ form_end(form) }}
            </div>
        </div>
        <br><br>
        <h1>Liste des produits</h1>
        <br>
        {% for prod in listProd %}
            <div class="row justify-content-center">
                <div class='col-1'>
                    <img class="card-img-top" src="{{ asset(prod.picture) }}" style='width: 100px; height: 100px;'>
                </div>
                <div class='col-2'>
                    <br><br>
                    {{prod.designation}}
                </div>
                <div class='col-1'>
                    <br><br>
                    {{prod.price}} €
                </div>
                <div class='col-1'>
                    <br><br>
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal" data-id="{{prod.id}}" data-designation="{{prod.designation}}" data-picture="{{prod.picture}}" data-price="{{prod.price}}" data-category="{{prod.category.description}}"><i class="fas fa-edit"></i></button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModal" data-id="{{prod.id}}"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Modifier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(formEdit) }}
                        <div class="form-group">
                            <label for="">Designation :</label>
                            {{ form_widget(formEdit.designation)}}
                        </div>
                        <div class="form-group">
                            <label for="">Prix :</label>
                            {{ form_widget(formEdit.price)}}
                        </div>
                        <div class="form-group">
                            <label for="">Categorie :</label>
                            {{ form_widget(formEdit.category)}}
                        </div>
                        <div class="form-group">
                            <label for="">Photo :</label>
                            {{ form_widget(formEdit.picture)}}
                        </div>
                        {{ form_widget(formEdit.save)}}
                    {{ form_end(formEdit) }}
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Confirmer la suppression ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                    <form id="delForm">
                        <button type="submit" class="btn btn-success">Oui</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#delModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var modal = $(this);
                modal.find('.modal-footer #delForm').attr('action', '/admin/delProd/' + id);
            });
            
            $('#editModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var designation = button.data('designation');
                var price = button.data('price');
                var category = button.data('category');
                
                var modal = $(this);
                modal.find('.modal-body #form_id').val(id);
                modal.find('.modal-body #form_designation').val(designation);
                modal.find('.modal-body #form_price').val(price);
                modal.find('.modal-body #form_category').val(category);
            });
        });

    </script>
{% endblock %}