{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block stylesheets %}
    <style>
        h1{
            font-family: 'Pacifico', cursive;
            text-align: center;
        }
        p{
            font-family: 'Bree Serif', serif;
            font-size: 24px;
        }
        hr{
            width: 50%;
        }
    </style>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/cat">Voir le catalogue</a>
                </li>
            </ul>
            <a class="nav-link" href="#" style="color: white;"><i class="fas fa-shopping-cart"></i>&nbsp;Voir son panier</a>
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
        </div>
    </nav>
    <br>
    <div class="container-fluid">
        <h1>Votre panier</h1>
        <br>
        <div class="row justify-content-center">
            <div class='col-1'>
                <h3>Image</h3>
            </div>
            <div class='col-2'>
                <h3>Produit</h3>
            </div>
            <div class='col-1'>
                <h3>Prix</h3>
                
            </div>
            <div class='col-1'>
                <h3>Quantité</h3>
            </div>
            <div class='col-1'>
                <div class="row justify-content-center">
                </div>
            </div>
        </div>
        <hr>
        {% for row in listRow %}
            <div class="row justify-content-center">
                <div class='col-1'>
                    <img class="card-img-top" src="{{ asset(row.product.picture) }}" style='width: 100px; height: 100px;'>
                </div>
                <div class='col-2'>
                    <br><br>
                    {{row.product.designation}}
                </div>
                <div class='col-1'>
                    <br><br>
                    {{row.product.price}} €
                </div>
                <div class='col-1'>
                    <br><br>
                    {{row.quantity}}
                </div>
                <div class='col-1'>
                    <br><br>
                    <div class="row justify-content-center">
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
        <div class="row justify-content-center">
            <div class='col-4 text-center'>
                <h4>Total</h4>
            </div>
            <div class='col-1'>
                <h4>{{quant}} €</h4>
                
            </div>
            <div class='col-1'>
                <div class="row justify-content-center">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
